<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/app.css")
        link(rel="stylesheet", href="/css/normalize.css")
        link(href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='https://pethistory.co/css/animate.css')
        link(rel='stylesheet' href='https://pethistory.co/css/owl.carousel.min.css')
        link(rel='stylesheet' href='https://pethistory.co/css/owl.theme.default.min.css')
        link(rel='stylesheet' href='https://pethistory.co/css/magnific-popup.css')
        link(rel='stylesheet' href='https://pethistory.co/css/bootstrap-datepicker.css')
        link(rel='stylesheet' href='https://pethistory.co/https://pethistory.co/css/jquery.timepicker.css')
        link(rel='stylesheet' href='https://pethistory.co/css/flaticon.css')
        link(rel='stylesheet' href='https://pethistory.co/css/style.css')


                
        title=nombrePagina
    title=nombrePagina
    body
               
        header
            nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
                .container
                    a.navbar-brand(href='/')
                        span.flaticon-pawprint-1.mr-2
                        | PetHistory
                        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
                            span.fa.fa-bars
                            |  Menu
                        #ftco-nav.collapse.navbar-collapse
                            ul.navbar-nav.ml-auto
                                li.nav-item
                                    a.nav-link(href='https://pethistory.co/') Inicio
                                li.nav-item
                                    a.nav-link(href='https://pethistory.co/nosotros') Nosotros
                                li.nav-item
                                    a.nav-link(href='https://pethistory.co/vet') Veterinarias
                                li.nav-item
                                    a.nav-link(href='https://pethistory.co/galeria') Galeria
                                li.nav-item
                                    a.nav-link(href='https://pethistory.co/contacto') Contacto
                                li.nav-item
                                    a.nav-link(href='https://pethistory.co/precios') Precios
                                li.nav-item
                                    a.nav-link(href='https://pethistory.co/entrar') Entrar
                                li.nav-item
                                    a.nav-link(href='https://pethistory.co/registrarme') Registrarme
        main.contenedor
                    

            block contenido
    footer.footer
        .container
            .row
                .col-md-6.col-lg-3.mb-4.mb-md-0
                    h2.footer-heading PetHistory
                    p lleva la historia cl&iacute;nica de tu mascota a donde vayas!
                    ul.ftco-footer-social.p-0
                    li.ftco-animate.fadeInUp.ftco-animated
                        a(href='https://www.facebook.com/PetHistoryco' target='_blank' data-toggle='tooltip' data-placement='top' title='Twitter')
                        span.fa.fa-twitter
                    li.ftco-animate.fadeInUp.ftco-animated
                        a(href='https://www.facebook.com/PetHistoryco' target='_blank' data-toggle='tooltip' data-placement='top' title='Facebook')
                        span.fa.fa-facebook
                    li.ftco-animate.fadeInUp.ftco-animated
                        a(href='https://www.facebook.com/PetHistoryco' target='_blank' data-toggle='tooltip' data-placement='top' title='Instagram')
                        span.fa.fa-instagram
                .col-md-6.col-lg-3.pl-lg-5.mb-4.mb-md-0
                    h2.footer-heading Enlaces r&aacute;pidos
                    ul.list-unstyled
                    li
                        a.py-2.d-block(href='/') Inicio
                    li
                        a.py-2.d-block(href='/nosotros') Nosotros
                    li
                        a.py-2.d-block(href='/vet') Veterinarias
                    li
                        a.py-2.d-block(href='/galeria') Contacto
                    li
                        a.py-2.d-block(href='/soyvet') Soy vet
                .col-md-6.col-lg-3.mb-4.mb-md-0
                    h2.footer-heading &iquest;Tiene preguntas?
                    .block-23.mb-3
                    ul
                        li
                        span.icon.fa.fa-map
                        span.text Colombia, Neiva- Huila
                        li
                        a(href='#')
                            span.icon.fa.fa-phone
                            span.text +57 3105073636
                        li
                        a(href='#')
                            span.icon.fa.fa-paper-plane
                            span.text contacto@pethistory.co
            .row.mt-5
                .col-md-12.text-center
                    p.copyright
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    | Copyright &copy;
                    script.
                        document.write(new Date().getFullYear());
                    | 2020 All rights reserved 
                    span(style='color:#1a1a1a;')
                        | | This template is made with 
                        i.fa.fa-heart(aria-hidden='true')
                        |  by 
                        a(style='color:#1a1a1a;' href='https://colorlib.com' target='_blank') Colorlib.com
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

